<%- include('partials/header') -%>  

<div class="container">
  <div class="row mt-5">
      <div class="home">
        <p class="greet">hey, <strong><%= user.userName %></strong>. what's up?</p>
      </div>
      <div class="home">
        <a class="btn-default" href="/map">read the room <i class="fa-regular fa-eye"></i></a>
        <a class="btn-default" href="/place">speak your piece <i class="fa-regular fa-message"></i></a>
        <a href="/logout" class="btn-default smoll btn logout"><i class="fa-solid fa-circle-arrow-left"></i>logout</a>
      </div>  
    </div>
  </div>

</div>
<%- include('partials/footer') -%>