<%- include('partials/header') -%>

<main class="container landing">
    <div class="landing"> 
        <a href="/login" class="btn-default landing">login</a>
        <a href="/signup" class="btn-default landing">signup</a>
    </div>
</main>
     

<%- include('partials/footer') -%>