<%- include('partials/header') -%>
 
<main class="container">
  <div class="row justify-content-center">
    <section>
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-info"><%= el.msg %></div>
      <% }) %> <% } %>
      <form action="/login" method="POST">
        <div>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
            placeholder="email"
          />
        </div>
        <div>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
            placeholder="password"
          />
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <a href="/" class="btn btn-default">back</a>
    </section>
  </div>
</main>

<%- include('partials/footer') -%>
