<%- include('partials/header') -%>
 
<main class="container login">
  <a href="/" class="btn-default smoll"> <i class="fa-solid fa-circle-arrow-left"></i>back</a>

  <div class="login">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-info"><%= el.msg %></div>
      <% }) %> <% } %>
      <form action="/login" method="POST" class="login">
        <div class="loginInputs">
          <input
            type="email"
            class="form-control login"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
            placeholder="email"
          />
          <input
            type="password"
            class="form-control login"
            id="exampleInputPassword1"
            name="password"
            placeholder="password"
          />
        </div>
        <button type="submit" class="btn-default smoll">good to go<i class="fa-solid fa-circle-check"></i></button>
      </form>
  </div>
</main>

<%- include('partials/footer') -%>
