<%- include('partials/header') -%>
    <main class="container">
      <a href="/" class="btn-default smoll"> <i class="fa-solid fa-circle-arrow-left"></i>back</a>
            <section>
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %> 
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <form class="signup" action="/signup" method="POST">
                    <div class="signupInputs">
                    <input 
                    type="text" 
                    class="form-control signup" 
                    id="userName" 
                    name="userName"
                    placeholder="username">
                    <input 
                    type="email" 
                    class="form-control signup" 
                    id="exampleInputEmail1" 
                    aria-describedby="emailHelp" 
                    name="email"
                    placeholder="email">
                    <p class="form-text"><em>we'll never share your email with anyone else.</em></p>
                    <input 
                    type="password" 
                    class="form-control signup" 
                    id="password" 
                    name="password"
                    placeholder="password">
                    <input 
                    type="password" 
                    class="form-control signup" 
                    id="confirmPassword" 
                    name="confirmPassword"
                    placeholder="confirm password">
                </div>
                  <button type="submit" class="btn-default smoll">good to go <i class="fa-solid fa-circle-check"></i></button>
                </form>
            </section>
    </main>

<%- include('partials/footer') -%>