/* U M B R E L L A */
*{
  list-style: none;
  font-family: 'Space Mono', monospace;
}
header{
  margin-top: 40px;
  margin-bottom: 10px;

}
h1:hover {
  transform: translateY(-2px);
}
h1 a:hover {
color: rgb(110	110	110	);
}
div.headButts {
  display: flex;
  margin-bottom: 20px;
}
body{
  background: black;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Space Mono', monospace;
}
i{
  margin-right: 7px;
  margin-left: 7px;
 }

a{
  color: white;
  text-decoration: none;
  text-align: center;
}
a:hover{
  color: rgb(86, 86, 86);
  text-decoration: none;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img{
  height: 200px;
}
.formcontrol{
  font-family: 'Space Mono', monospace, Times;
}
input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
  font-family: 'Space Mono', monospace, Times;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;/*your box-shadow*/
  -webkit-text-fill-color: #333;
  font-family: 'Space Mono', monospace, Times;
} 
:placeholder-shown{
  font-style: italic;
}

 /* L A N D I N G */

 div.landing{
  display: flex;
  flex-direction: column;
  width: auto;
  width: 30%;
 }
 
  /* S I G N U P */   /* L O G I N */

 .flexCol{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}


input.login, input.signup, .report input, .report select{
  width: 100%;
  margin: 10px;
  border: none;
  font-family: 'Space Mono', monospace;
}

  /* H O M E */
  div.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 0px;
  }
  p.greet{
    color: white;
    font-size: 27px;
    font-style: italic;
  }

  /* M A P */

  body.map{
    color: black;
  }
  #map{
    height: 400px;
    width: 100%;
    margin-bottom: 10px;
  }
  div.info{
    padding: 0;
  }
  
  #infoHeading{
    font-size: 20px;
  }
  #infoBody{
    margin-bottom: 10px;
  }
  h3.info{
    font-size: 20px;
    font-style: italic;
    color: gray;
  }
  .infoWindow{
    color: rgb(0, 0, 0);
    max-width: 100px
  }
  fieldset.map{
    width: 100%;
    display: flex;
  }
  input.map{
    width: 95%;
    border: none;
  }
  form.map{
    width: 5%;
  }
  button.map{
    width: 100%;
    margin: 0px;
  }
  ul.reports{
    color: white;
  }
  .reportEdit{
    display: flex;
    margin-top: 15px;
    margin-left: 0px
  }
  .fa-trash{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: black double 4px;
  }
  .fa-pen{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: black double 4px;

  }

    /* REPORTS */
  li.report{
    background: rgba(60, 60, 60, 0.666);
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  li.report span{
    margin-top: 5px;
  }
  span.name{
    font-weight: 800;
  }
  span.date{
    font-style: italic;
    color: rgb(140, 140, 140);
  }
  span.body{
    font-style: italic;
  }
  
/* R E P O R T */

form label{
  text-align: center;
  color: rgb(140, 140, 140);


}


/* built off of BUTTON 30 by Algolia */
.btn-default{
  align-items: center;
  appearance: none;
  background-color: rgb(195	195	195	);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(120, 120, 120) 0 -3px 0 inset;
  box-sizing: border-box;
  color: rgba(100	100	100);
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  width: 100%;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin: 10px;
}

.btn-default:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(255, 255, 255, 0.4) 0 2px 4px, rgba(255, 255, 255, 0.3) 0 7px 13px -3px, #ffffff 0 -3px 0 inset;
}

.btn-default:hover {
  box-shadow: rgba(255, 255, 255, 0.4) 0 4px 8px, rgba(255, 255, 255, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
  background-color: #fcfcfd;
  color: rgb(0, 0, 0);
}

.btn-default:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/* other buttons */

.btn:hover{
  color: white;
  background-color: rgb(140, 140, 140);
}
.btn{
  color: rgb(0, 0, 0);
  background-color: rgb(60, 60, 60);
}
.smoll{
  margin: 2px;
  width: auto;
}
.logout{
  border-radius: 4px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(70, 70, 70, 0.3) 0 7px 13px -3px, rgb(45, 45, 45) 0 -3px 0 inset;
}
.logout:hover{
  color: white;
  margin: 2px;
  width: auto;
}

.roomyBottom{
  margin-bottom: 20px;
}